header,
body {
    font-family: Arial;
}

h1.title {
    font-family: Arial;
    background-color: rgb(50, 94, 175);
    padding: 10px 0px;
    text-align: center;
    position: center;
    margin: 0px;
    color: white;
}

#Login {
    position: center;
    background-color: white;
    padding: 50px 0px 50% 0px;
}

.login {
    position: center;
    padding: 0px 60px;
    margin: 0px 20px;
    text-align: center;
    font-weight: bolder;
}

p {
    position: center;
    text-align: center;
}

a.title {
    color: inherit;
    text-decoration: none;
}

.nav {
    display: inline-block;
    padding: 1px 7.75%;
    font-weight: bold;
    margin: 0px 50px;
    color: black;
    text-align: center;
    font-family: Arial;
}

.navList {
    position: center;
    margin: 0px 0px;
    background-color: rgb(50, 94, 175);
}

body {
    margin: 0px 0px;
    position: center;
    background-color: rgb(204, 204, 204);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}